<nz-row>
  <nz-col nzSpan="24">
    <img class="home-page-photo" src="assets/DESKTOP%20-%204K%20–%201.jpg" />
  </nz-col>
</nz-row>
<nz-row>
  <nz-col class="align-items-center" nzSpan="24"
    ><h1 class="logo-text align-items-center">
      <strong>Alimente integrale</strong>
    </h1>
  </nz-col>
</nz-row>
<nz-row>
  <nz-col class="align-items-center" nzSpan="24"
    ><h1 class="logo-text">
      <strong> Pentru sănătatea întregului corp</strong>
    </h1>
  </nz-col>
</nz-row>
<nz-row>
  <nz-col class="promo-text align-items-center" nzSpan="24">
    <span> În căutarea unui kit pentru o alimentație sănătoasă? </span>
  </nz-col>
</nz-row>

<nz-row>
  <nz-col class="promo-text align-items-center" nzSpan="24">
    <span>Reducere de 50% și un plus de 20% timp de 2 luni.</span>
  </nz-col>
</nz-row>

<nz-row class="button-padding">
  <nz-col class="align-items-center" nzSpan="24">
    <button class="discount-button" nz-button>Obțineți 50% reducere</button>
  </nz-col>
</nz-row>
<nz-row style="padding-top: 3em">
  <nz-col class="align-items-center" nzSpan="24"
    ><h2>Cina e doar la 3 pași distanță</h2></nz-col
  >
</nz-row>
<nz-row>
  <nz-col nzSpan="8">
    <nz-row>
      <nz-col class="align-items-center" nzSpan="24">
        <img class="prepare-icons" src="assets/choose.png" />
      </nz-col>
    </nz-row>
    <nz-row>
      <nz-col class="align-items-center" nzSpan="24">
        <strong class="prepare-icons-title">Alege!</strong>
      </nz-col>
    </nz-row>
  </nz-col>
  <nz-col nzSpan="8">
    <nz-row>
      <nz-col class="align-items-center" nzSpan="24">
        <img class="prepare-icons" src="assets/cook.png" />
      </nz-col>
    </nz-row>
    <nz-row>
      <nz-col class="align-items-center" nzSpan="24">
        <strong class="prepare-icons-title">Gateste!</strong>
      </nz-col>
    </nz-row>
  </nz-col>
  <nz-col nzSpan="8">
    <nz-row>
      <nz-col class="align-items-center" nzSpan="24">
        <img class="prepare-icons" src="assets/enjoy.png" />
      </nz-col>
    </nz-row>
    <nz-row>
      <nz-col class="align-items-center" nzSpan="24">
        <strong class="prepare-icons-title">Delicios!</strong>
      </nz-col>
    </nz-row>
  </nz-col>
</nz-row>
<div style="padding-bottom: 14px">
  <app-carousel></app-carousel>
</div>
