<nz-header style="position: fixed; z-index: 1">
  <nz-col nzMd="0" style="display: flex; justify-content: start">
    <button class="burger-menu-icon" nz-button>
      <i nz-icon nzType="menu"></i>
    </button>
  </nz-col>
  <img class="logo-size" src="assets/nutriMuscle.png" />
  <div class="menu-container">
    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item>Meniu saptamanal</li>
      <li nz-menu-item>Planurile noastre</li>
      <li nz-menu-item>Cum functioneaza</li>
      <li nz-menu-item>Valorile noastre</li>
      <li nz-menu-item>Despre noi</li>
    </ul>
  </div>
  <button class="login-button" nz-button>
    <span>LOGIN</span>
  </button>
</nz-header>
